default: &default
  adapter: postgresql
  encoding: unicode
  pool: 10
  timeout: 5000
  port: <%= ENV['DB_PORT'] || 5432 %>
  min_messages: warning
  prepared_statements: false
  username: <%= ENV['POSTGRES_USER'] %>
  variables:
    statement_timeout: 5000

development:
  <<: *default
  database: <%= ENV['POSTGRES_DB'] %>

test:
  <<: *default
  database: <%= ENV['TEST_POSTGRES_DB'] %>

production:
  <<: *default
  database: <%= ENV['POSTGRES_DB'] %>
  host: <%= ENV['DB_HOST'] || 'localhost' %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>
